body {
  padding: 20px;
}
.stretch {
  width: 100%;
  box-sizing: border-box;
}
h1 {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  text-shadow: 1px 1px #000;
}
div {
  margin: 10px 0;
}
p {
  margin: 10px 0;
  font-size: 16px;
}
textarea {
  display: block;
  padding: 5px 10px;
  height: 200px;
  font-size: 16px;
  overflow-y: auto;
}
.controls {
  position: relative;
  text-align: right;
  margin-top: 5px;
}
.controls .throbber {
  left: auto;
  right: 105px;
  background: transparent;
  opacity: 0;
}
.controls .popover.inverted.flipped {
  padding-right: 0px;
  padding-bottom: 10px;
  position: absolute;
  top: -135px;
  right: -10px;
  left: auto;
  font-size: 14px;
  line-height: 20px;
}
.controls .popover label {
  color: #666;
}
.controls .popover input {
  font-size: 14px;
  padding: 3px;
}
.results {
  height: 300px;
  border: 1px solid #000;
  border-color: #000 #222 #444;
  border-width: 2px 1px;
}
.sp-list {
  height: 300px;
}
.hidden {
  display: none;
}
.round {
  border-radius: 5px;
}
